/* Part 1 */
i#ruby {
  color: rgb(50, 226, 255);
}

.part-1 {
  position: relative;
  min-height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-1::before {
  content: "";
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.4), rgba(250, 120, 120, 0.25)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
}

.part-1 .box-text {
  position: absolute;
  top: 40%; left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255, 0.02);
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);*/
  width: 100%;
  height: 203px;
}

.part-1 .box-text .box-content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 450px;
  height: 160px;
  text-align: center;
  color: #fff;
}

.part-1 .box-text .box-content .name {
  font-size: 3em;
  font-weight: bold;
}

.part-1 .box-text .box-content .introduce {
  font-family: 'Pacifico', cursive;
  font-size: 1.5em;
}

.part-1 .box-text .box-content .social {
  margin-top: 15px;
}

.part-1 .box-text .box-content .social i {
  margin: 0px 8px;
  font-size: 1.5em;
}

.part-1 .box-text .box-content .social a {
  color: #fff;
}

.typed-cursor {
  font-size: 1.5rem;
  font-weight: 100;
  margin-left: 5px;
}

/* Part 2 */
.part-2 {
  position: relative;
  min-height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-2::before {
  content: "";
  background: black;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);*/
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.part-2 .box-content {
  min-height: 500px;
}

.part-2 .col-6.text-right {
  padding-left: 100px;
}

.part-2 .col-6.text-left {
  padding-right: 100px;
  display: inline;
}

.part-2 .box-content .avatar img {
  max-height: 500px;
  min-width: 400px;
  margin-right: 30px;
  object-fit: cover;
}

.part-2 .box-content .information {
  height: 450px;
  width: auto;
  padding: 20px;
  color: #fff;
}

.part-2 .box-content .information .about-me {
  padding-left: 10px;
  font-size: 1.5em;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5))
}

.part-2 .box-content .information .about-me-detail {
  margin-top: 10px;
  margin-bottom: 30px;
}

.part-2 .box-content .information .sub-info .row {
  margin: 10px 0px;
}

.part-2 .box-content .information .sub-info .row .col-4 {
  padding-left: 0px !important;
  font-size: 1.2em;
  font-weight: bold;
  max-width: 17.33%;
}
